.banner {            
    text-align: center;
    background-color: #f0f0f0;
    padding: 1em;
    margin-top: 2em; /* Spazio sopra il banner per centrarlo verticalmente */
    border: 0.3em solid #885d2cb2;
    border-radius: 10px;        
}
.banner h1 {
    color: #333;
    font-size: 5em;
}
.banner p {
    color: #666;
    font-size: 18px;
}

.intro {
    overflow-wrap: break-word;
    text-align: center;
    color:#885d2cb2;
    width: 20em;
    margin: auto;
}